.calc {
  background-color: black;
  width: 400px;
  border: black solid 2px;
  color: whitesmoke

}
button {
  flex-grow: 1;
  cursor: pointer;
   
}
.row1, .row5 {
  display: flex;
  flex-direction: row;
}
.row2, .row3, .row4 {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}
.zero {
  flex: 56%;
}
.clear {
  flex: 69%;
}
.operator:active {
  background-color: #dd8d37;
}
.operator:hover {
  background-color: #dfb07e;
}
.operator {
  background-color: #df974c;
}
.norm, .clear {
  background-color: #d8d9db;
}
.norm:active {
  background-color: #bbbcbe;
}
.norm:hover {
  background-color: #ebebeb;
}
#display {
  text-align: right;
  height: 25px;
  line-height: 25px;
  padding: 2px 1px;
  font-size: 20px;
}
.clear:active {
  background-color: #bbbcbe;
}
.clear:hover {
  background-color: #ebebeb;
}
.result {
  text-align: right;
  height: 15px;
  line-height: 15px;
  padding: 2px 1px;
  font-size: 20px;
  font-style: bolder;
}
